<!doctype html>
<html lang="en">
<head>
</head>
<body>
<div class="body">
    <div class="container">
        <div class="header text-center">
            <a href="#homepage">
                <img src="https://logos-download.com/wp-content/uploads/2016/06/Bitcoin_logo.png" width="120" class="logo" alt="BTC Logo">
            </a>
        </div>
        <div class="content">
            <h1 class="text-center">Вартість Bitcoin: {{rate|format_currency('UAH')}}</h1>
            <p class="block">
                Завжди актуальний курс разом з <strong>Genesis BTC Rate</strong>
            </p>
        </div>
    </div>
</div>
</body>
</html>